/* ----------------------- */
/* Reset */
* {
  margin: 0;
}

/* ----------------------- */
/* Custom font */
@font-face {
  font-family: "GenEiNuGothic-EB";
  src: url("../font/GenEiNuGothic-EB.ttf") format("truetype");
}

/* ----------------------- */
/* Base */
html body {
  font-family: sans-serif;
}

/* ----------------------- */
/* Header */
html body header {
  background-color: rgba(226, 223, 223, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

html body header .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* logo */
html body header .header #logo {
  width: 75px;
  margin-left: 25px;
  margin-top: 12.5px;
}

/* top nav */
html body header .header nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  list-style: none;
  font-size: 9px;
  gap: 12px;
  position: absolute;
  right: 0;
  padding-right: 75px;
  top: 30px;
}

/* nav images */
html body header .header nav > ul a img {
  width: 70px;
  transition: transform 0.4s ease;
}

html body header .header nav > ul a img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ----------------------- */
/* Hamburger */
html body header .header .ham-menu {
  width: 30px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 14px;
  right: 25px;
}

html body header .header .ham-menu span {
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

html body header .header .ham-menu span:nth-child(1) {
  top: 25%;
}

html body header .header .ham-menu span:nth-child(2) {
  top: 70%;
}

html body header .header .ham-menu.active span:nth-child(1) {
  top: 45%;
  transform: translateX(-50%) rotate(45deg);
  margin-bottom: 5px;
}

html body header .header .ham-menu.active span:nth-child(2) {
  top: 45%;
  transform: translateX(-50%) rotate(-45deg);
}

/* ----------------------- */
/* Off-screen menu */
.off-screen-menu {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: auto;
  width: 100%;
  max-width: 250px;
  right: -250px;
  position: fixed;
  top: 50px;
  transition: 0.3s ease;
  z-index: 9;
  overflow: hidden;
}

.off-screen-menu.active {
  right: 0;
}

.off-screen-menu nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.off-screen-menu nav > ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.off-screen-menu nav > ul > li {
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.01s ease-in-out, transform 0.5s ease;
}

.off-screen-menu nav > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.off-screen-menu nav > ul > li.selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.off-screen-menu nav > ul > li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.off-screen-menu nav > ul > li a:hover {
  transform: scale(1.1);
}

/* ----------------------- */
/* Popup */
.popup {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 9;
  text-align: center;
  right: 0;
  margin-right: 250px;
  margin-top: 0;
}

.popup .popup-content ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
}

.popup .popup-content ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  transition: transform 0.5s ease;
}

.popup .popup-content ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

/* ----------------------- */
/* Welcome images */
.welcome {
  display: block;
}

.welcome img {
  width: 30%;
  position: absolute;
}

/* small version */
.welcome-small {
  display: none;
}

.welcome-small img{
  width: 100%;
}

/* “me” image */
.me {
  text-align: right;
  padding-top: 1.7vw;
}

.me img {
  width: 65.65%;
  padding-right: 3vw;
}

@media (max-width: 750px) {
  .welcome {
    display: none;
  }
  .welcome-small {
    display: block;
  }
  .me{
    text-align: center;
    padding:2vw 5px 0;
  }
  .me img{
    width: 100%;
  }
}

/* ----------------------- */
/* Skills grid */
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 2.2vw;
  margin-left: 18vw;
  margin-right: 4vw;
  padding-top: 7vw;
  cursor: default;
}

.skill {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  /* font-size: clamp(6.3px, 1.2vw, 30px); */
  font-size: 12px;
}

@media (max-width: 750px){
  .skills-container{
    font-size: 11px;
    margin: 0;
    padding: 7vw 20px ;
  }
}

@media (max-width: 600px) {
  .skills-container {
    font-size: 11px;
    margin: 0;
    padding: 7vw 20px ;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 3vw;
  }

}



@media (max-width: 400px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
  .me{
    padding:4vw 5px 0;
  }
  .welcome-small{
    display: none;
  }
}
