html{ 
 
    body{   

        font-family: sans-serif;
        
        header{
            /* background-color: rgba(202, 196, 196, 0.15); */
            background-color: rgba(226, 223, 223, 0.4);
            backdrop-filter: blur(5px);
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            height: 50px;
            position: sticky; /*sticky header*/
            top: 0;
            z-index: 10;
            

            .header{
                display: flex; 
                flex-flow: row nowrap; 
                justify-content: space-between;
                

                #logo{
                    width: 75px;
                    margin-left: 25px;
                    margin-top: 12.5px;

                }



                nav {
                    > ul {
                      display: flex;
                      flex-flow: row nowrap;
                      justify-content: right;
                      list-style: none;
                      font-size: 9px;
                      gap: 12px;
                      position: absolute;
                      right: 0;
                      padding-right: 75px;
                      top: 30px;
                  
                      /* a {
                        display: inline-block;           
                        text-decoration: none;
                        color: black;
                        transition: transform .5s ease; 
                        &:hover {
                          transform: scale(1.2);         
                        }
                      } */
                       a img{
                        width: 70px;
                        transition: transform .4s ease;
                        &:hover{
                          transform: scale(1.1);
                          cursor: pointer;
                        }
                       }
                    }
                  }

/* --------------------------------------------------------------- */

                .ham-menu {
                    width: 30px; /*clickable space*/
                    height: 25px; /*clickable space*/
                    margin: 0; 
                    padding: 0; 
                    position: relative;
                    cursor: pointer; 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between; 
                    align-items: center; 
                    top: 14px;
                    right: 25px;
                }

                .ham-menu span {
                    height: 2px; 
                    width: 100%; /* Full width of the parent container */
                    background-color: black;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: .3s ease;
                }

                .ham-menu span:nth-child(1) {
                    top: 25%;
                }

                .ham-menu span:nth-child(2) {
                    top: 70%;
                }

                .ham-menu.active span:nth-child(1) {
                    top: 45%;
                    transform: translateX(-50%) rotate(45deg);
                    margin-bottom: 5px;
                }

                .ham-menu.active span:nth-child(2) {
                    top: 45%;
                    transform: translateX(-50%) rotate(-45deg);
                }
            
            }
           
        }
    /* --------------------------------------------------------------------------- */

      
    .off-screen-menu {
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(5px);
        height: auto;
        width: 100%;
        max-width: 365px;
        right: -365px;
        position: fixed;
        top: 50px;
        transition: .3s ease;
        z-index: 9;
        overflow: hidden; /* stops overflow */
    }
    
    .off-screen-menu nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
    
    .off-screen-menu nav > ul {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        padding-left: 0;
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .off-screen-menu nav > ul > li {
        margin: 0;
        padding: 0;
        width: 100%;
        cursor: pointer;
        transition: background-color .01s ease-in-out, transform .5s ease;
      }
    
      .off-screen-menu nav > ul > li:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      
      .off-screen-menu nav > ul > li a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 20px 30px;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease;
      }
      
      .off-screen-menu nav > ul > li a:hover {
        transform: scale(1.1);
      }
    
    .off-screen-menu nav > ul > li.selected {
        background-color: rgba(255, 255, 255, 0.3);
        /* transform: scale(1.05); */
    }
    
    .off-screen-menu nav > ul > li a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 20px 30px;
        width: 100%;
        height: 100%;
    }
      
          .off-screen-menu.active {
              right: 0;
          }
  
      /*----------------------------- */
         
      .popup {
        display: none;
        position: fixed;
        /* transform: translate(-50%, -50%); */
        background-color: rgba(0, 0, 0, 0.5);
        /* backdrop-filter: blur(5px); */
        width: 150px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 10;
        text-align: center;
        right: 0;
        margin-right: 365px;
        /* margin-top: 120px; */
        margin-top: 150px;
      }
      
    
      .popup .popup-content ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
      }
      
      
      .popup .popup-content ul li a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px;
        transition: transform 0.5s ease;
      }
      
      .popup .popup-content ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2);
          transform: scale(1.1);
        
      }

       
        
    /* -------------------------------------------------------- */


    }

    scroll-behavior: smooth;

}

/* ーーーーーーーー */

.h1{
    h1{
    font-weight: bold;
    margin-top: 2vw;
    margin-left: 5vw;
    border-bottom: solid;
    /* border-bottom-width: 3px; */
    border-bottom-width: thin;
    /* position: absolute; */
    width: 40%;
    min-width: 300px;
    /* z-index: 1; */
    }
    
}

/* ーーーーーーーーー */


/* .baby{
    video{
        position: absolute;
        left: 50%; 
        transform: translateX(-50%);
        width: 1800px; 
    }
} */

/* -------------------------------------- */

/* carrousel code */

/* .carousel-container {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-top: 10vw;
    margin-left: 25vw;
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    animation: spin 20s infinite linear;
}


.carousel a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    display: block; 
    transform-origin: center center;
    transform: translate(-50%, -50%); 
    backface-visibility: hidden; 
}


.carousel a:nth-child(1) {
    transform: rotateY(0deg) translateZ(500px);
}

.carousel a:nth-child(2) {
    transform: rotateY(72deg) translateZ(455px);
}

.carousel a:nth-child(3) {
    transform: rotateY(144deg) translateZ(475px);
}

.carousel a:nth-child(4) {
    transform: rotateY(216deg) translateZ(535px);
}

.carousel a:nth-child(5) {
    transform: rotateY(288deg) translateZ(550px);
}


.carousel img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
} */

/* --------------------------------------- */

.h2{
    display: block;
    margin-top: 4vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* background-color: rgba(0, 101, 156, 0.611); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
    /* border: 7px solid black;  */
    /* border-radius: 10px;  */
    
    h2{
        letter-spacing: 1.2px;
        /* width: 85%;
        margin-left: auto;
        margin-right: auto; */
        font-size: 3vw;
        color: white;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 1vw;
    }
}



.face{
    img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* border-radius: 5px; */
    }
}

/* -------------------------------------- */

.container {
    width: 91%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2vw;
  }
  
  .me, .me2 {
    width: 35%; 
  }
  
  .me {
    h2 {
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 3.5vw;
    }
  
    p {
      font-size: 2.5vw;
      letter-spacing: 1.5px;
      width: 100%; 
    }
  }
  
  .me2 {
    
    h2 {
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 3.5vw;
    }
  
    p {
      font-size: 2.5vw;
      letter-spacing: 1.5px;
      padding-bottom: 25px;
      width: 100%; 
    }
  }
  



/* ---------------------------------------- */



/* ---------------------------------------- */

/* cards */

.top-row{
    padding-top: 5vw;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: center; 
    gap: 50px; 
    /* margin-bottom: 50px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 25vw; 
    height: 35vw; 
    perspective: 1000px; 
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    transition: transform 0.5s ease, box-shadow 0.3s ease; 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s; 
}

.card.flipped .card-inner {
    transform: rotateY(180deg); 
}

.card-front{
    font-size: 5vw;
    font-weight: bold;
    z-index: 2; 
    display: flex;
}

.card-back {
    transform: rotateY(180deg); 
    z-index: 1; 
    h2{
        text-align: center;
        font-size: 3vw;
        border-bottom: solid;
        border-width: .3vw;
        border-radius: 50%;
    }


    img{
        width: 15vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 1.5vw;
    }
    .card-back-p {
        display: grid;
        place-items: center;
    }
    
    .card-back-p p {
        width: 90%;
        text-align: center;
        padding-top: 1.5vw;
        font-size: 1.3vw;
    }

}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: black;
    border: .2px solid rgb(0, 0, 0); 
    /* border-radius: 10px;  */
    background-color: rgb(255, 255, 255); 
}

.card {
    transition: transform 0.5s ease, box-shadow 0.3s ease; 
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); 
}

.card.no-shadow {
    box-shadow: none !important;  /* Remove the shadow */
}

/* --------------------------------------------- */


footer{
    padding-top: 50px;
  }



    *{
        margin: 0;    /*border無し*/
    }


/* --------------------------------------------------- */

/* カスタムフォント */

@font-face {
    font-family: 'GenEiNuGothic-EB';  /* Name of your font */
    src: url('../font/GenEiNuGothic-EB.ttf') format('truetype');  /* Path to the font file */
}